WebContent/WEB-INF/wsdl/HelloWorld.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:tns="http://helloworld.webservice.paulsami.com" xmlns:intf="http://helloworld.webservice.paulsami.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://helloworld.webservice.paulsami.com">
	<!--WSDL created by Apache Axis -->
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified" targetNamespace="http://helloworld.webservice.paulsami.com">
			<element name="sayHello">
				<complexType>
					<sequence>
						<element name="name" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="sayHelloResponse">
				<complexType>
					<sequence>
						<element name="sayHelloReturn" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>

	<wsdl:message name="sayHelloResponse">

		<wsdl:part element="tns:sayHelloResponse" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="sayHelloRequest">

		<wsdl:part element="tns:sayHello" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:portType name="HelloWorld">

		<wsdl:operation name="sayHello">

			<wsdl:input message="tns:sayHelloRequest" name="sayHelloRequest">

			</wsdl:input>

			<wsdl:output message="tns:sayHelloResponse" name="sayHelloResponse">

			</wsdl:output>

		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="HelloWorldSoapBinding" type="tns:HelloWorld">

		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="sayHello">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="sayHelloRequest">

				<wsdlsoap:body use="literal" />

			</wsdl:input>

			<wsdl:output name="sayHelloResponse">

				<wsdlsoap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="HelloWorldService">

		<wsdl:port binding="tns:HelloWorldSoapBinding" name="HelloWorld">

			<wsdlsoap:address
				location="http://localhost:8080/WebService/services/HelloWorld" />

		</wsdl:port>

	</wsdl:service>

</wsdl:definitions>